<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/home']" shape="round" size="large">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2>Sobre nós</h2>

    <!-- Adicionado espaço para a foto da barbearia -->
  <div class="foto-barbearia-container">
    <img src="assets/images/barber.jpg" alt="Foto da Barbearia" class="foto-barbearia">
  </div>



    <p>
      Fundada em 1974, a Barbearia Tradição carrega a herança e o orgulho de ser uma das primeiras barbearias de Bangu, Rio de Janeiro. Ao longo de 50 anos de história, nos dedicamos a muito mais do que cortes de cabelo e barbas: somos um ponto de encontro para gerações. 
    </p>
  </ion-text>

</ion-content>
